{% extends 'base.html' %}


{% block content %}

    {% if request.user.is_staff %}
        <div class="card-body pl-0">
            <a class="btn btn-sm btn-info text-white" href="{% url 'crea_sezione' %}">Crea Sezione</a>

        </div>

    {% endif %}


    {% for sezione in lista_sezione %}
        <div class="card-body my-3">
            <div class="card-header" >
                <h5><a href="{{ sezione.get_absolute_url }}">{{ sezione.nome_sezione }}</a></h5>
                <p class="mb-0">{{ sezione.descrizione }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="{{sezione.logo_sezione.url}}" alt="logo della sezione" style ="max-width:200px">
                        <p>Discussioni Totali {{ sezione.discussione_set.count }}</p>
                        
                        <p>Messaggi Totali: {{ sezione.get_number_of_posts_in_section }}</p>
                    </div>
                    <div class="col-lg-9">
                        <p>Ultime discussioni</p>
                        <table class="table table-hover">
                            <tbody>
                                {% for discussione in sezione.get_last_discussions.all %}
                                    <tr class="row">
                                        <td class="col-lg-7">
                                            <a href="{% url 'visualizza_discussione' pk=discussione.pk %}">{{ discusisone.titolo }}</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a href="{% url 'user_profile' username=discussione.autore_discussione.username %}">{{ discusisone.autore_discussione }}</a>
                                        </td>
                                        <td class="col-lg-2">
                                            Posts: {{ discusisone.post_set.count }}</a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>


        
        
        <hr>
    {% endfor %}

{% endblock content %}